.main {
  margin-top: 30rem;
  display: flex;
  justify-content: center;
}
.leaveButton {
  margin-top: 9rem;
}

.messages {
  margin-top: 9rem;
}
.currentUser {
  color: red;
  text-align: right;
}
.search {
  display: inline-block;
  position: relative;
  margin: 1rem;
}
.search input[type="text"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search button[type="submit"] {
  background-color: var(--navbar-button-color);
  font-family: "DM Serif Display", serif;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: var(--navbar-button-color);
}
