@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("../styles/variables.css");
.main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 2rem;
  width: 40rem;
  position: relative;
  border: 15px solid #bfc1b8;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  transition: all 120ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eef0e5;
  padding: 1rem;
}
.author {
  margin-top: 1rem;
  font-family: "Lobster", sans-serif;
  font-size: 1.2rem;
  color: #000000;
}
.card .title {
  font-family: "Kalnia", serif;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--navbar-header-color);
}

.card .content {
  margin-top: 1rem;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.1rem;
  color: #000;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.text {
  max-width: 55px;
}

.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 0.6rem;
  border-radius: 20px;
  margin-bottom: 3rem;
  color: #eef0e5;
  background-color: #706233;
  cursor: pointer;
}
.button {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #bfc1b8;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}
.vote {
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
}
.voteBtn {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #bfc1b8;
}

.voteImg {
  width: 2rem;
  height: 2rem;
}

.buttonComment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #b0a695 10.8%, #776b5d 94.3%);
  transition: all 0.475s;
}
.voteSpan {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-top: 2rem;
}
.likes {
  margin-right: 1rem;
}
.image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.like-active {
  background-color: #9ade7b;
}

.like-inactive {
  background-color: #bfc1b8;
}

.dislike-active {
  background-color: #ff8f8f;
}

.dislike-inactive {
  background-color: #bfc1b8;
}

@media (max-width: 900px) {
  .card {
    width: auto;
  }
}
