:root{
    --navbar-bg-color:#627e60;
    --navbar-header-color:#48644b;
    --navbar-button-color:#48644bb4;
    --navbar-text-color:#ECE3CE;
    --body-background-color:#B6C4B6;
    --card-background-color:#eee2de;
    
}